$height: (
);
$zIndex: (
	nav: 99,
	pop: 999,
	topTip: 999
);
$generalColor : (
  theme : #CF3D3C,
  stheme: #CF3D3C, //加深的主题色
  info: #2d8cf0,
  success: #19be6b,
  warning: #ff9900,
  error: #ed3f14,
  tips: #FFFBE7,
  title : rgba(#000,.85),
  primary_text : rgba(#000,.65),
  secondary_text : rgba(#000,.45),
  disable : #B7B7B7,
  border : rgba(#000,.10),
  divider : rgba(#000,.09),
  background :#F5F4F5,
  table_header : #F8F8F8,
  white: #fff,
  black: #000
);